

h1{
    font-size: 90px;
    margin: 30px auto 0 auto;
    color: #66BFBF;
    padding-top: 10px;
}

h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #11999E;
}

a{
    color: #11999E;
}

body {
    margin: 0;
    position: relative;
    text-align: center;

}

hr{
margin-top: 60px;
margin-bottom: 30px;
border: dotted pink 5px;
border-bottom: none;
width: 5%; 
margin: 100px auto;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #feffde;

}

.lofi-img{
    border-radius: 1000px;
    width: 40%;

}

.top-cloud {
position: absolute;
right: 300px;
top: 50;

}

.bottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {
    margin: 10px 0;

}

.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 1.5;
}

.bottom-container {
    background-color: #66BFBF;
padding: 50px 0 20px ;
}

.pro{
       font-family: monospace;
}

.computer-image {
    border-radius: 80px;
    float: left;
    margin-right: 30px;
    width: 20%;
}

.chilli-image {
    border-radius: 80px;
    float: right;
    width: 20%;
    margin-left: 30px;
    
}

.footer-link{
margin: 10px 20px;
font-size: 20px;
text-decoration: none;
}

a.footer-link:hover {
    color: pink;
 }

.copyright{
    color: white;
    padding: 20px 10px
}

.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family:monospace;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
    box-shadow: 1px 1px 10px 0 #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin: 10px auto 10px auto;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 